# Byte-compiled / optimized / DLL files
__pycache__
*.pyc
*.pyo
*.pyd

# vs code
.vscode

# python env
venv

# macOS
.DS_Store

# Weights / checkpoints
*.pt
*.ckpt

# environment vars
.env

# MY todo
.TODO

# compile_commands.json clangd
compile_commands.json

.cache
